flask
flask-cors
# ----- honeycomb -----
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
# ----- x-ray -----
aws-xray-sdk